<module xmlns="urn:jboss:module:1.3" name="org.camunda.bpm.camunda-bpm-swarm-config-api">
  <resources>
    <artifact name="org.camunda.bpm:camunda-bpm-swarm-config-api:${project.version}" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.wildfly.swarm.config-api-runtime"/>

  </dependencies>
</module>
