<module xmlns="urn:jboss:module:1.3" name="org.camunda.bpm.model.camunda-dmn-model">
  <resources>
    <artifact name="org.camunda.bpm.model:camunda-dmn-model:${camunda.version}" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.camunda.bpm.model.camunda-xml-model" />

  </dependencies>
</module>
